.display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;

  li {
    display: flex;
    height: 400px;
    max-height: 90vw;
    max-width: 90vw;
    padding: calc(2vw + 2vh);
    width: 400px;

    .hero {
      background: $color-info;
      border-radius: 999px;
      box-shadow: 0 0 0 3px $color-info;
      filter: drop-shadow(0 10px 20px transparentize($color-background, 0.5));

      height: 40%;
      margin: -5%;
      pointer-events: none;
      width: 40%;
    }

    .car {
      background-position: center;
      background-size: cover;
      border-radius: 10%;
      box-shadow: inset 0 0 0 $color-error, inset 0 0 0 $color-error;
      display: flex;
      filter: drop-shadow(0 10px 20px transparentize($color-background, 0.5));
      height: 100%;
      justify-content: flex-end;
      text-align: right;
      width: 100%;

      &:hover {
        background-color: $color-valid;
        box-shadow: inset 0 -50px 0 $color-valid, inset 0 50px 0 $color-valid;
        cursor: pointer;
        filter: drop-shadow(0 0 100px transparentize($color-valid, 0.1));
        height: 100% + 2 * $hover-grow;
        margin: -$hover-grow;
        width: 100% + 2 * $hover-grow;

        .hero {
          background-color: $color-glow;
          box-shadow: 0 0 0 10px $color-glow;
          filter: drop-shadow(0 0 40px transparentize($color-glow, 0.1));
          margin: -7%;
          transform: rotate(2deg);
        }
      }
    }
  }
}

.overlay {
  align-items: center;
  display: none;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;

  .loading {
    display: flex;
    font-size: 40px;
    height: 1em;
    margin: auto;
    position: absolute;
    width: 1em;
    z-index: -1;

    i {
      animation: spinner 1.2 * $spinner-time cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: $color-valid transparent transparent;
      filter: drop-shadow(0 0 10px transparentize($color-valid, 0));
      border-radius: 50%;
      border-style: solid;
      border-width: 0.125em;
      box-sizing: border-box;
      display: block;
      font-size: inherit;
      height: 1em;
      min-width: 1em;
      position: absolute;

      &:nth-child(1) {
        animation-delay: -0.45 * $spinner-time;
      }

      &:nth-child(2) {
        animation-delay: -0.3 * $spinner-time;
      }

      &:nth-child(3) {
        animation-delay: -0.15 * $spinner-time;
      }
    }
  }

  &.open {
    background-image: radial-gradient(transparentize($color-background, 0.1), transparentize($color-dark, 0.1) 60%);
    display: flex;
    flex-direction: column;
  }

  &::before,
  &::after {
    background: $color-light;
    content: '';
    display: block;
    height: 2px;
    position: fixed;
    right: $overlay-cta / 2;
    top: $overlay-cta;
    width: $overlay-cta;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  .zoom {
    background: transparentize($color-dark, 0.5);
    border: 2px solid $color-light;
    border-radius: 50%;
    bottom: $zoom-cta / 2;
    cursor: pointer;
    height: $zoom-cta;
    margin-top: -$zoom-cta * 1.3;
    position: fixed;
    width: $zoom-cta;
    z-index: 1;

    &::before,
    &::after {
      background: $color-light;
      content: '';
      display: block;
      height: 2px;
      margin-left: $zoom-cta * 0.2;
      margin-top: $zoom-cta / 2;
      position: absolute;
      width: $zoom-cta * 0.6;
    }

    &::before {
      transform: rotate(90deg);
    }

    &:hover {
      background: $color-glow;
      box-shadow: 0 0 $zoom-cta / 2 $color-glow;
    }
  }

  > img {
    border-radius: calc(0.2vw + 0.2vh);
    max-height: 96%;
    max-width: 96%;

    @media (min-width: $break-large) {
      margin-right: 20px;
    }
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
