$break-xsmall: 320px;
$break-small: 544px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;

$color-light: #fff;
$color-valid: #2de2e6;
$color-info: #f9c80e;
$color-warning: #ff6c11;
$color-error: #f6019d;
$color-glow: #7500fd;
$color-glow-dark: #541388;
$color-fill: #023788;
$color-background: #241734;
$color-dark: #000;

$font-primary: 'Fredoka One', sans-serif;
$font-secondary: 'Montserrat Alternates', sans-serif;

$hover-grow: 5%;
